/* 
    The components in this project work off of these
    variables below. So make sure to update all refrences
    if any changes to names are needed.

    These are created to easily change style to the entire
    project if so desired.

    Possible Theme Colors: #00a173, #00ff95,#60ffb6, #ffca28, #60a7ff
  */

:root {
  --primary-alt: #60a7ff;
  --primary: #60ffb6;
  --primary-dark: #47e69b;
  --secondary: #ffca28;
  --bg: #151616;
  --bg-text: #fff;
  --subtle: rgb(207, 207, 207);
  --radius: 5px;
  --padding: 15px;
  --margin: 20px;
  --gap: 20px;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  background-color: #333;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  /* color: var(--primary-dark); */
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.hoverable {
  border-radius: var(--radius);
  transition: 0.3s;
  padding: var(--padding);
  background: rgba(0, 0, 0, 0.3);
}

.hoverable:hover {
  background: rgba(0, 0, 0, 0.5);
}

h1,
h2 {
  /* margin: 0; */
  font-weight: 400;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.1em;
}

p {
  color: var(--subtle);
}

.secondary {
  color: var(--secondary);
}

section {
  width: 100%;
}
